<div class="logon-view">
    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 pull-right" for="vehicleNumber"><i class="cd cd-bus"></i> </label>
        </div>
        <div class="col-md-6">
            <input class="form-control thick-blue-border" type="text" id="vehicleNumber" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 pull-right" for="operator"><i class="cd cd-torso"></i></label>
        </div>
        <div class="col-md-6">
            <input class="form-control thick-blue-border" type="text" id="opeartor" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label class="col-md-2 pull-right" for="run"><i class="cd cd-road"></i></label>
        </div>
        <div class="col-md-6">
            <input class="form-control thick-blue-border" type="text" id="run" required>
        </div>
        <div class="col-md-2">
            <button class="btn btn-green btn-icon rHeight" (click)="onLogin()"><i class="cd cd-arrow-right-bold"></i></button>
        </div>
    </div>

</div>
