@font-face {
	font-family: 'CleverDevices';
	src: url("CleverDevices.woff") format('woff');
	font-weight: normal;
	font-style: normal
}
.cd {
	display: inline-block;
	font: normal normal normal 14px/1 'CleverDevices';
	font-size: 30px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.cd-lg {
	font-size: 1.33333333em;
	line-height: .75em;
	vertical-align: -15%
}
.cd-2x {
	font-size: 2em
}
.cd-3x {
	font-size: 3em
}
.cd-4x {
	font-size: 4em
}
.cd-5x {
	font-size: 5em
}
.cd-fw {
	width: 1.28571429em;
	text-align: center
}
.cd-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none
}
.cd-ul>li {
	position: relative
}
.cd-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: .14285714em;
	text-align: center
}
.cd-li.cd-lg {
	left: -1.85714286em
}
.cd-border {
	padding: .2em .25em .15em;
	border: solid .08em #eee;
	border-radius: .1em
}
.pull-right {
	float: right
}
.pull-left {
	float: left
}
.cd.pull-left {
	margin-right: .3em
}
.cd.pull-right {
	margin-left: .3em
}
.cd-spin {
	-webkit-animation: cd-spin 2s infinite linear;
	animation: cd-spin 2s infinite linear
}
.cd-pulse {
	-webkit-animation: cd-spin 1s infinite steps(8);
	animation: cd-spin 1s infinite steps(8)
}
@-webkit-keyframes cd-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}
@keyframes cd-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg)
	}
}
.cd-rotate-90 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg)
}
.cd-rotate-180 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg)
}
.cd-rotate-270 {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg)
}
.cd-flip-horizontal {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1)
}
.cd-flip-vertical {
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1)
}
:root .cd-rotate-90, :root .cd-rotate-180, :root .cd-rotate-270, :root .cd-flip-horizontal, :root .cd-flip-vertical {
	filter: none
}
.cd-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle
}
.cd-stack-1x, .cd-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center
}
.cd-stack-1x {
	line-height: inherit
}
.cd-stack-2x {
	font-size: 2em
}
.cd-inverse {
	color: #fff
}
.cd-person:before {
	content: '\f001'
}
.cd-road:before {
	content: '\f002'
}
.cd-directions-bus:before {
	content: '\f003'
}
.cd-bus:before {
	content: '\f004'
}
.cd-torso:before {
	content: '\f005'
}
.cd-antenna-low:before {
	content: '\f07D'
}
.cd-antenna-xlow:before {
	content: '\f07C'
}
.cd-antenna-avg:before {
	content: '\f006'
}
.cd-antenna-high:before {
	content: '\f07E'
}
.cd-wheelchair-accessibility:before {
	content: '\f007'
}
.cd-ptvan:before{
    content:'\f00b'
}
.cd-wheelchair-deployed:before {
	content: '\f08d'
}
.cd-satellite-xlow:before {
	content: '\f07F'
}
.cd-satellite-low:before {
	content: '\f080'
}
.cd-satellite-avg:before {
	content: '\f008'
}
.cd-satellite-high:before {
	content: '\f081'
}
.cd-unlock-alt:before {
	content: '\f009'
}
.cd-lock:before {
	content: '\f00a'
}
.cd-phone-mdi:before {
	content: '\f00c'
}
.cd-cog:before {
	content: '\f00d'
}
.cd-arrow-right:before {
	content: '\f00e'
}
.cd-arrow-right-bold:before {
	content: '\f00f'
}
.cd-arrow-left:before {
	content: '\f010'
}
.cd-arrow-left-bold:before {
	content: '\f011'
}
.cd-wifi-low:before {
	content: '\f083'
}
.cd-wifi-high:before {
	content: '\f084'
}
.cd-wifi-avg:before {
	content: '\f012'
}
.cd-wifi-xlow:before {
	content: '\f082'
}
.cd-server-connection:before {
	content: '\f085'
}
.cd-server-connection-good:before {
	content: '\f087';   
}
.cd-server-connection-bad:before {
	content: '\f086';    
}
.cd-message:before {
	content: '\f013'
}
.cd-map:before {
	content: '\f014'
}
.cd-volume-high:before {	
content: '\f015'
}
.cd-logout:before {
	content: '\f016'
}
.cd-chevron-up:before {
	content: '\f017'
}
.cd-chevron-down:before {
	content: '\f018'
}
.cd-chevron-thin-up:before {
	content: '\f019'
}
.cd-chevron-thin-down:before {
	content: '\f01a'
}
.cd-road-glyphicon:before {
	content: '\f01b'
}
.cd-backspace:before {
	content: '\f01c'
}
.cd-clear:before {
	content: '\f01d'
}
.cd-close-box:before {
	content: '\f01e'
}
.cd-tachometer:before {
	content: '\f01f'
}
.cd-person-pin:before {
	content: '\f020'
}
.cd-download:before {
	content: '\f021'
}
.cd-upload:before {
	content: '\f022'
}
.cd-person-add:before {
	content: '\f023'
}
.cd-check-square-o:before {
	content: '\f024'
}
.cd-x-square-o:before{
    content: '\f06f'
}
.cd-eye-off:before {
	content: '\f025'
}
.cd-ban:before {
	content: '\f026'
}
.cd-ticket:before {
	content: '\f027'
}
.cd-dollar:before {
	content: '\f028'
}
.cd-plus:before {
	content: '\f029'
}
.cd-exclamation-triangle:before {
	content: '\f02a'
}
.cd-exclamation-circle:before, .cd-critical:before {
	content: '\f02b'
}
.cd-arrow-up-bold:before {
	content: '\f02c'
}
.cd-arrow-down-bold:before {
	content: '\f02d'
}
.cd-chevron-down-fa:before {
	content: '\f02e'
}
.cd-chevron-up-fa:before {
	content: '\f02f'
}
.cd-chevron-right:before {
	content: '\f030'
}
.cd-chevron-left:before {
	content: '\f031'
}
.cd-filter-center-focus:before {
	content: '\f032'
}
.cd-crosshairs-gps:before {
	content: '\f033'
}
.cd-list:before {
	content: '\f034'
}
.cd-location-arrow:before {
	content: '\f035'
}
.cd-level-up:before {
	content: '\f036'
}
.cd-long-arrow-up:before {
	content: '\f037'
}
.cd-send:before {
	content: '\f038'
}
.cd-tooltip-edit:before {
	content: '\f039'
}
.cd-compass-outline:before {
	content: '\f03a'
}
.cd-phone-volume-high:before {
	content: '\f03c'
}
.cd-phone-volume-low:before {
	content: '\f03b'
}
.cd-minus:before {
	content: '\f03d'
}
.cd-plus-mdc:before {
	content: '\f03e'
}
.cd-minus-mdc:before {
	content: '\f03f'
}
.cd-circle:before {
	content: '\f040'
}
.cd-text-to-speech:before {
	content: '\f041'
}
.cd-sliders:before {
	content: '\f042'
}
.cd-font:before {
	content: '\f043'
}
.cd-system-update-alt:before {
	content: '\f044'
}
.cd-system-update:before {
	content: '\f045'
}
.cd-usb:before {
	content: '\f046'
}
.cd-filter-tilt-shift:before {
	content: '\f047'
}
.cd-windows:before {
	content: '\f048'
}
.cd-color-lens:before {
	content: '\f049'
}
.cd-tire:before {
	content: '\f04a'
}
.cd-light-up:before {
	content: '\f04b'
}
.cd-light-down:before {
	content: '\f04c'
}
.cd-droplet:before {
	content: '\f04d'
}
.cd-volume:before {	content: '\f04e'
}
.cd-waves:before {
	content: '\f04f'
}
.cd-fuel:before {
	content: '\f050'
}
.cd-eye:before {
	content: '\f051'
}
.cd-wrench:before {
	content: '\f052'
}
.cd-exclamation:before {
	content: '\f053'
}
.cd-shower:before {
	content: '\f054'
}
.cd-car-wash:before {
	content: '\f055'
}
.cd-clock:before {
	content: '\f056'
}
.cd-mail:before {
	content: '\f057'
}
.cd-menu:before {
	content: '\f058'
}
.cd-check-box-outline-blank:before {
	content: '\f059'
}
.cd-notifications-active:before {
	content: '\f05a'
}
.cd-text-document-inverted:before {
	content: '\f05b'
}
.cd-phone-mdi-priority:before {
	content: '\f05c'
}
.cd-chevron-thin-up-multi:before {
	content: '\f05d'
}
.cd-chevron-thin-down-multi:before {
	content: '\f05e'
}
.cd-chevron-thin-up-addon:before {
	content: '\f05f'
}
.cd-chevron-thin-down-addon:before {
	content: '\f060'
}
.cd-chevron-thin-up-multi-addon:before {
	content: '\f061'
}
.cd-chevron-thin-down-multi-addon:before {
	content: '\f062'
}
.cd-flag-checkered:before {
	content: '\f063';
}
.cd-flag:before {
	content: '\f064';
}
.cd-keyboard:before {
	content: '\f065';
}
.cd-clipboard:before {
	content: '\f066';
}
.cd-window-minimize:before {
	content: '\f067';
}
.cd-turn-by-turn:before {
	content: '\f068';
}
.cd-speaker:before {
	content: '\f069';
}
.cd-zoom-route:before {
	content: '\f06a';
}
.cd-turn-by-turn-mute-x:before {
	content: '\f06b';
}
.cd-turn-by-turn-mute-not:before {
	content: '\f06c';
}
.cd-arrow-up:before {
	content: '\f06d';
}
.cd-arrow-down:before {
	content: '\f06e';
}
.cd-play:before {
	content: '\f070';
}
.cd-play-1:before {
	content: '\f071';
}
.cd-play-2:before {
	content: '\f072';
}
.cd-reload:before {
	content: '\f073';
}
.cd-x-circle:before {
	content: '\f074';
}
.cd-message-edit:before {
	content: '\f075';
}
.cd-inspection-file:before {
	content: '\f079';
}
.cd-required:before{
    content:'\f07A';
}
.cd-food:before{
    content:'\f07B';
}
.cd-message-priority:before {
    content: '\f088';
}

.cd-torso-priority:before {
    content: '\f089';
}

.cd-lightning:before {
    content: '\f08a';
}

.cd-lightning-x:before {
    content: '\f08b';
}

.cd-bus-lightning:before {
    content: '\f08c';
}

.cd-volume-low:before {
    content: '\f08e';
}

.cd-volume-mute:before {
    content: '\f08f';
}

.cd-phone-mute:before{
    content: '\f090';
}

.cd-phone-connected:before{
    content: '\f091';
}

.cd-phone-one-way-connection:before{
    content: '\f092';
}

.cd-phone-end:before{
    content: '\f093';
}
.cd-phone-3-way-connection:before{
    content: '\f094';
}

.cd-info:before{
    content: '\f098'
}
.cd-priority:before{
    content: '\f099';
}
.cd-info-warning:before{
    content:'\f09a';
}
.cd-carry-on:before{
    content:'\f09b'
}
.cd-seat:before{
    content:'\f09c'
}
.cd-dollar-bill:before{
    content:'\f09d'
}
.cd-dispatch:before{
    content:'\f0ad';
}
.cd-battery-full:before{
    content:'\f09f';
}
.cd-battery-80:before{
    content:'\f0A0';
}
.cd-battery-40:before{
    content:'\f0A1';
}
.cd-battery-warning:before{
    content:'\f0A2';
}
.cd-battery-empty:before{
    content:'\f0A3';
}
.cd-hot:before{
    content:'\f0A4';
}
.cd-cold:before{
    content:'\f0A5';
}
.cd-thermo-freeze:before{
    content:'\f0A6';
}
.cd-thermo-cold:before{
    content:'\f0A7';
}
.cd-thermo-med:before{
    content:'\f0A8';
}
.cd-thermo-hot:before{
    content:'\f0A9';
}
.cd-thermo-boil:before{
    content:'\f0AA';
}
.cd-toggle-off:before{
    content:'\f0AB';
}
.cd-toggle-on:before{
    content:'\f0AC'
}

.cd-bed:before {
	content: '\f0AE'
}
.cd-door:before {
	content: '\f0AF'
}
.cd-curb:before {
	content: '\f0B0'
}
.cd-stopwatch:before {
	content: '\f0B1'
}

.cd-help:before {
	content: '\003f';
    position: absolute;
    left: 6px;
    height: 40px;
    width: 40px;
    top: 0px;
}

.cd-fallback{
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(47deg) translateY(5px) translateX(2px);
	-ms-transform: rotate(47deg) translateY(5px) translateX(2px);
	transform: rotate(47deg) translateY(5px) translateX(2px);
}
.cd-fallback:before{
    content: '\f084';
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}
.sr-only-focusable:active, .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto
}

@-webkit-keyframes cd-wait {
	0% {
		content: '\f095';
	}
    25% {
		content: '\f096';
	}
    50% {
        content: '\f097';
    }
     75%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
     100%{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}
}
@keyframes cd-wait {
	0% {
		content: '\f095';
	}
    25% {
		content: '\f096';
	}
    50% {
        content: '\f097';
    }
    75%{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
     100%{
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}
}

.cd-wait:before{
    content: '\f095';
    -webkit-animation: cd-wait 4s infinite linear;
	animation: cd-wait 4s infinite linear
}