<div class="add-view">
    <mat-form-field appearance="fill">
        <mat-label for="InNumber1">Number1: </mat-label>
        <input matInput type="number" [(ngModel)]="InNumber1.Value" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label for="InNumber2">Number2: </mat-label>
        <input matInput type="number" [(ngModel)]="InNumber2.Value" required>
    </mat-form-field>
    <br>
    <button mat-button (click)="AddValues(); SendMessage('Hello');"> Add </button>
    <br>
    Output: <span id="OutNumber">{{ OutNumber.Value }}</span>
    <br>
    {{ InNumber1.Value }} + {{ InNumber2.Value }} = {{ OutNumber.Value }}
</div>
    